# <span style="color:#f44259"> Python Tutorial I: Basics</span>

> "Simplicity is the ultimate sophistication."  Leonardo da Vinci

> “Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.”  John Woods

This tutorial introduces Python fundementals in a Jupyter Notebook environment. After following this tutorial, you
will be able to write, execute and present simple Python programs in Jupyter Notebooks.

## 1. Setup Anaconda for Python

Anaconda is a free, very-easy-to-install Python distribution, which includes over 720 open source packages. 
It can be used on Windows, OS X and Linux.

* **TODO**: Download and install Anaconda for Python 2.7 from [Anaconda Webpage](https://docs.continuum.io/anaconda/install)
* **TODO**: After installation, click on Launcher and launch Jupyter (Jupyter) notebook

## 2. Programming Environment: Jupyter (old name: iPython) Notebooks

Jupyter Notebook is a browser-based Python progamming and presentation environment. 
It allows you to write Python code, execute that code and present the results in the same web page.

The Jupyter Notebook has two different keyboard input modes: EDIT MODE and COMMAND MODE

- **Edit mode** allows you to type code/text into a cell and is indicated by a green cell border. 
You can edit cells in the edit mode by writing text or code.

Exercise: 
Click on this cell and then press Enter on your keyboard or directly click into the cell to edit it.
(delete this)

- **Command mode** binds the keyboard to notebook level actions and is indicated by a grey cell border.

Exersice: Click left of the cell below and see the grey border.
Then, press ctrl+enter to execute the following Python code

# Hello world

### Print statements

In [1]:
print ("Hello world!")

Hello world!

- **Homework**: Click on Help -> Keyboard Shortcuts and read about the keyboard shortcuts.

### Exercise:  

a. Make the text on this line bold (Hint: Click on Help -> Markdown )  
b. Enter a cell below using the keyboard shortcut and delete it with another shortcut

### Comments

In [0]:
# This is a comment. It means nothing after # is executed

#If you dont believe me, run this cell and see

**Advice**: Always and always comment your code because CODE CHANGES and the coder too!

### Printing

- **TODO**: Run the cell below and fix the error!

In [5]:
print ("Python is Case-sensitive!")

Python is Case-sensitive!

# Variables

* A variable is a symbol that holds a value. 
* Variables in the Python are created by assignment. 
* Python is a dynamically typed language, which means you can assign values/objects of different types to the same variable during the execution of the program.
* Variable names must start with letter or underscore (_) and be followed by letters, digits or underscores. 
* Every variable, indeed everything in Python, is an object

In [0]:
a = 5

In [0]:
my_integer_variable = 5
my_string_variable = "I am a beautiful string"
my_float_variable = 4.5

In [10]:
print("my_integer_variable") #lets remove the quotation marks and print again

my_integer_variable

In [11]:
print(my_integer_variable) # what do you think it will print? what is the problem?

5

In [12]:
print(my_integer_variable + my_float_variable)

9.5

the `type` built-in function

In [13]:
print(type(my_integer_variable + my_float_variable))

<class 'float'>

In [18]:
print(my_string_variable, " ", str(my_integer_variable))
database_name = my_string_variable + str(my_integer_variable)

I am a beautiful string   10

In [17]:
my_integer_variable = 10 # lets assign a different variable to the my_integerr_variable
print(my_integer_variable + my_string_variable)

TypeError: ignored

In [19]:
 print(3*my_string_variable )# what do you think it will print?

I am a beautiful stringI am a beautiful stringI am a beautiful string

* **Question**: How to delete a variable?

*** Bonus: Naming Conventions ***

[Google Python Style Guide](https://google.github.io/styleguide/pyguide.html) recommends the following convention

module_name, package_name, ClassName, method_name, ExceptionName, function_name, GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, function_parameter_name, local_var_name

# Strings

Strings are variables representing text.<br>
A string is a particular python object that comes with some built-in function

In [0]:
text = "Magnis diam. Fringilla auctor nullam vel faucibus curae; vitae    sociis diam"

In [47]:
text.split()

['Magnis',
 'diam.',
 'Fringilla',
 'auctor',
 'nullam',
 'vel',
 'faucibus',
 'curae;',
 'vitae',
 'sociis',
 'diam']

*** We called the function for the string.  ***
* <b>But how do I know which functions are there?</b><br>
type the variable name, followed by the dot and the tab to get the available functions/attributes, for instance:<br>
    `text.+<tab>`
* <b>And how can I get more help? </b><br>
1) Look it up in the documentation online (https://docs.python.org/3/library/string.html)<br>
2) Use the built-in function of jupyter to access the funtion docstrings: `help(text.split)` or `text.split?`

In [22]:
help(text.split )

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [0]:
# This works only in interactive notebooks like jupyter
text.split?

### More operations with strings

In [0]:
name = "  John _ Doe   "

In [31]:
len(name)

15

In [32]:
name.split("_")

['  John ', ' Doe   ']

In [33]:
name.strip().split("_") #removes whitespaces from the beginning and end of a string

['John ', ' Doe']

In [34]:
name.replace(" ","").split("_")

['John', 'Doe']

#### Bonus question: did my variable actually change?

In [35]:
name

'  John _ Doe   '

In [36]:
name.upper()

'  JOHN _ DOE   '

In [0]:
#### Let's go back to our text variable

In [44]:
text

'Magnis . Fringilla auctor nullam vel faucibus curae; vitae    sociis diam'

In [45]:
### What does this actually mean?
text.find("diam")

69

A string is a sequence of carachters. The find function return the index (location) of the substring (in our example "diam")

 Let's look at this block and let's understand what it is doing?<br>
What do I need to Change here to write <br>
`Hello John Doe`? (with only one space?)

In [0]:
my_name = " John   "
my_lastname = "doe  "
my_name.capitalize()
my_lastname = my_lastname.upper()
#my_name.lower()
#c = my_name + her_name

my_full_name = "".join(["hello",my_name,my_lastname])
#c
my_full_name = my_full_name.strip()
my_full_name
#c.split()

### The format function

In [0]:
text = "Pi is the {} of a circle's {} to its and equals to".\
format('circumference','ratio')

In [49]:
print(text)

Pi is the circumference of a circle's ratio to its and equals to

In [50]:
text =  "Pi is the {1} of a circle's {0} to its and equals to".format('circumference','ratio')
text

"Pi is the ratio of a circle's circumference to its and equals to"

In [51]:
print( "Pi is the {a} of a circle's {b} to its and equals to".\
format(a='circumference',b='ratio'))

Pi is the circumference of a circle's ratio to its and equals to

* **TODO**: Read about the **str.format()** method on [Python Documentation](https://docs.python.org/2/library/string.html#format-examples)

In [52]:
#Formatting with only two decimals?
print("Pi equals to {:.2f}".format(3.141592653589793))

Pi equals to 3.14

In [53]:
print("Pi equals to {:+>10.2f}".format(3.141592653589793))

Pi equals to ++++++3.14

** Exercise **
1. Define 3 variables holding the last names of your classmates
2. Define 3 variables holding the ages of those classmates
3. Print them in this format:   
        +++++++++Genc: 20	
        ++++++Verhaaf: 90

# Operations

**TODO**: Read about the built-in types and operations on the [Python Docs](https://docs.python.org/2/library/stdtypes.html)

    <   : strictly less than	 
    <=  : less than or equal	 
    >  : strictly greater than	 
    >= : greater than or equal	 
    ==  : equal	 
    !=  : not equal

    or: logical or
    and: logical and
    not: negate
    
    is  : object identity	 
    is not : negated object identity

In [54]:
a = 4 ## assigning the variable
a == 5 ## checking equality

False



   ** IMPORTANT ** : **"is"** and **"=="** are different operators
   * **'=='** checks for equality such as **(a == b)** which checks if 'a' and 'b' have the same value
   * **'is'** checks for identity such as **( id(obj1) == id(obj2) )** which checks if 'obj1' and 'obj2' reference to the same object

In [55]:
a = 400
b = 400
print (a==b)
print (a is b)

True
False

In [56]:
print( "\n'is' vs. '=='")
s1 = list([1,2])
s2 = list([1,2])
print( "s1: {} \ns2: {}".format(s1,s2))
print( "s1 == s2: ", s1==s2)
print( "s1 is s2: ", s1 is s2) # print ids of s1 and s2 to understand why s1 is not s2
print( "s1 is not s2: ", s1 is not s2)
print( "id(s1):{}, id(s2):{} ".format(id(s1),id(s2)))

'is' vs. '=='
s1: [1, 2]
s2: [1, 2]
s1 == s2:  True
s1 is s2:  False
s1 is not s2:  True
id(s1):140317470380552, id(s2):140317470382536

# Python can have some very weird behavior sometimes
*** For instance: what happens if in the previous cell I change a=3, and b =3? ***

In [57]:
a = 4
b = 4
print (a==b)
print (a is b)

True
True


*** Some more built-in functions in Python<br>***
    -x : x negated	 

    abs(x)  : absolute value or magnitude of x	
    int(x)  : x converted to integer	
    long(x) : x converted to long integer	
    float(x): x converted to floating point	

    x ** y	: x to the power y	
    x % y   : x mod y : returns the remainder after division of x by y

In [0]:
x = 5
y = 4
z = 10

n = None
t = True
f = False

In [64]:
result_a =  x + y * z / 2
result_b = (x + y) * z / int(2)

print("\nArithmetic Operations: ")
print(" x + y * z / 2: ", result_a)
print("(x + y) * z / 2: ", result_b)
print("-x: ", -x)

Arithmetic Operations:
 x + y * z / 2:  25.0
(x + y) * z / 2:  45.0
-x:  -5

In [65]:
print("\nComparisons")
print( "x >= y --> ", x >= y)
print( "x - 1 == y  --> ", x - 1 == y)
print( "(x > y) != False --> ", (x > y) != False)
print( "5 and 0: ",bool(5 and 0))
print( "float z: {} | integer converted z: {}".format(z,int(z)))

Comparisons
x >= y -->  True
x - 1 == y  -->  True
(x > y) != False -->  True
5 and 0:  False
float z: 10 | integer converted z: 10

In [66]:
print("id of s1: ", id(s1))
print( "id of s2: ", id(s2))
print( "type of s1 ", type(s1))

id of s1:  140317470380552
id of s2:  140317470382536
type of s1  <class 'list'>

** Exercise **
1. Print “True” if the sum of all the numbers from 1 to 60 is greater than 1903
2. Is 6/5 equal to 9/5?
3. Print the result of  6/5 == 9/5
4. What is wrong with 6/5 == 9/5?
5. Calculate the total money you need to pay after having dinner in such a restaurant:
6. Cost of meal: €65.50   
	Restaurant tax: 2.75%   
	Tip: 15%   
	You'll apply the tip to the overall cost of the meal (including tax).

# Control Flow

### a. if conditions

In [67]:
x = 1
y = int(1.99)
z = None
if ( x==y ):
    print(" x is equal to y ")

 x is equal to y

In [68]:
if not z:
    print("z is nothing")

z is nothing

In [71]:
if (not z) and (x == 1) or (y < 0):
    print("whole chain of conditions is True!")

whole chain of conditions is True!

In [77]:
#if elif else block
if (0 <= x < 1 ):
    print("x is between 0 and 1")
elif( x < 0 ):
    print("x is negative")
else:
    print("I couldnt find what x is :(")

I couldnt find what x is :(

**Important**: In Python, indentation matters! <br>

If we want to enclose multiple lines of code within an if condition, we need to use the identation

In [78]:
a = 4
b = 3

if a ==4:
    print("This is the first correct statement")
    print("This is the second correct statement")
    
    if b== a-1:
        print("I am a new if condition and I am True")
    else:
        print("I am a new if condition and I am False")

print("I am not indented, so I do am outside the if block :P")

This is the first correct statement
This is the second correct statement
I am a new if condition and I am True
I am not indented, so I do am outside the if block :P

In [79]:
x = 2
y = x if (x**2) == 4 else 0
print (y)

2

### b. for loops

**TODO**: Read about the [range() function](https://docs.python.org/2/library/functions.html#range)

In [80]:
range(1,20)# watch out! the last digit is not included
range(1,20,5) # values from 1 (included) to 20 (excluded) in steps of 5
range(0, -10, -1)  # values from 0 (included) to -10 (excluded) in steps of -1 (backwards)

range(0, -10, -1)

### Advanced tip<br>

`range` returns is an iterator, which is a very specific and lazy type of function which executes the steps only when "explicitly" asked for. <br>

for example, putting it within the list object, it will be executed `list(range(1,20))`, or within the for statemtn

In [81]:
#
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
for i in range(1, 10): 
    print(i) #note the indetation

print("\n\nwith step of 2:")
for i in range(1,10,2):
    print(i)

1
2
3
4
5
6
7
8
9


with step of 2:
1
3
5
7
9

Extra on loops:
    * `break`: when this line is met, the loop stops
    * `continue`: when this line is met, the loop skips the next steps and goes to the next iteration

In [0]:
print(' The loop with break')
for i in range(1,10):
    if (i == 4): # change this to 1000 and see what happens
        break
    print(i)

print(' The loop with continue')
for i in range(1,10):
    if (i == 4): # change this to 1000 and see what happens
        continue
    print(i)

### Extra: the usefuleness of the modulo operation,
i.e `a % b`

In [83]:
print('The loop with modulo operation')
for i in range(1,1000000):
    if i%100000==0: # if  i is divisble by 100000, then do the next step
        print('I am at step {}'.format(i))

The loop with modulo operation
I am at step 100000
I am at step 200000
I am at step 300000
I am at step 400000
I am at step 500000
I am at step 600000
I am at step 700000
I am at step 800000
I am at step 900000

### c. while loops

In [84]:
i = 30 # try this with 10 and see what happens
while i > -1:
    i = i - 1
    if i == 20:
        break
    else:
        print(i)
else: 
    print("\n\nhere I am i: ",i )

29
28
27
26
25
24
23
22
21

** Exercise **
1. Find the sum of numbers that are divisible by 7 from 1 till 100
2. Write a program to prompt for a score between 0.0 and 1.0. If the core is out of range print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade    
		>= 0.9 A   
		>= 0.8 B   
		>= 0.7 C   
		>= 0.6 D   
		< 0.6 F  
Hint: to get the input from user in python  
age = input("What is your age?")

# Data Structures

 **list --> [1,2,'a',"hello"]**
 - comma-separated values(items) between square brackets
 - can include different types 
 - preserves the order of the items
 - can include duplicate items
 
 - <b>The list is a mutable object</b>
 
 **TODO**: Read about the list and its methods on [Python Docs](https://docs.python.org/2/tutorial/datastructures.html)

In [0]:
a = [1,5,2,8,"I am an element in this list",'a',9,9 , ["22",22]]

In [86]:
#print the 3rd element of a (remember, we start counting from 0)
print(a[2])

2

In [87]:
#print the last element of a
print(a[-1])

['22', 22]

In [88]:
#It's a list of list, get the first element of the last element
print(a[-1][0])

22

In [89]:
a[1] = 10 #list index starts from zero
a

[1, 10, 2, 8, 'I am an element in this list', 'a', 9, 9, ['22', 22]]

You can slice the lists

In [91]:
print(a[1:5:2]) #start from the 2nd element and access every second element till 5th element
print(a[1:8]) # till the last element (including the last element)

[10, 8]
[10, 2, 8, 'I am an element in this list', 'a', 9, 9]

In [92]:
a[1::2] # What does this do?

[10, 8, 'a', 9]

In [93]:
print (a[-1::-1]) # what does that do?

[['22', 22], 9, 9, 'a', 'I am an element in this list', 8, 2, 10, 1]

### List Methods

In [0]:
a = [10,5,4,7,8,"BMW","Porsche",0,0]

In [0]:
a.append("Dacia")

In [0]:
a

In [0]:
a.insert(3,-99)
a

In [0]:
x = a.pop()
print(x,'\n', a)

In [0]:
dummy_list = a
is_list = True
while is_list:
    print(dummy_list.pop())
    if len(dummy_list)==0: is_list = False

print('This is the list at the end:',dummy_list)

In [0]:
### What happend to a?
print(a)

In [0]:
print(id(a))
print(id(dummy_list))

In [0]:
a = [10,5,4,7,8,"BMW","Porsche",0,0]
dummy_list = a.copy()
is_list = True
while is_list:
    print(dummy_list.pop())
    if len(dummy_list)==0: is_list = False

print('This is the list at the end:',dummy_list)
print('This is the list at the end:',a)
print('ID of a:', id(a))
print('ID of dummy_list:',id(dummy_list))

In [0]:
# let's make sure we have a again
a = [10,5,4,7,8,0,0]

In [0]:
a.insert(3,-99)
a

In [0]:
a.extend([1,1,1])
a

In [0]:
print(a.count(1))

In [0]:
a.sort(reverse=False)
a

In [0]:
min(a), max(a)

### Lists are very handy in for loops

In [0]:
car_brands = ['Audi','BMW', 'VW', 'Porsche', 'Volvo']

In [0]:
#search for a value in the list
#oldschool way
missing_key = "BMW"
for i in car_brands:
    if i == missing_key:
        print("The key has been found")
        break
else:
    print("The key couldn't be found")

In [0]:
#python way
missing_key = "BMW"
if missing_key in car_brands:
    print("The key has been found")
else:
    print("The key couldn't be found")

In [0]:
car_brands.index("BMW")

In [0]:
#what do you think this does?
print(car_brands + car_brands)

**Tuple --> (1,2,'a',"hello")**
- Tuples are immutable (you cant add/remove/replace elements)
- Tuples are handy when you need to return multiple elements from your Python function

In [0]:
b = (1,2,'a',"hello",(4,5))
t = (1,2,3)
t = (4,5,6)

x,y = (4.6,9.2)

#b[1]
#b[1]=7
#b[-1]  
#b = t
#print b

In [0]:
print(x)
print(y)

**Set --> set([1,2,'a',"hello"])**
- A set is an unordered collection with no duplicate elements. 
- Basic uses include membership testing and eliminating duplicate entries.

In [0]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
fruit = set(basket)
print(fruit)

In [0]:
basket_a = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket_b = {'watermellon', 'orange', 'orange','banana'}

In [0]:
basket_a.intersection(basket_b)

In [0]:
basket_a.difference(basket_b)

**Dictionary** --> {'1':'orange','2':'apple',100:'mellon'}
- It is best to think of a dictionary as an unordered set of key: value pairs
- The keys must be unique 
- A pair of braces creates an empty dictionary: {}
- The main operations on a dictionary are storing a value with some key and extracting the value given the key
- It is also possible to delete a key:value pair with del
- If you store using a key that is already in use, the old value associated with that key is forgotten
- It is an error to extract a value using a non-existent key

In [0]:
c = {'fruit_1':'orange','fruit_2':'apple',3:'mellon','car':9}
c['fruit_3'] = 'apple'

In [0]:
print(c['fruit_2'])
print(c)

**TODO** Read the dictionary on [Python Docs](https://docs.python.org/2/tutorial/datastructures.html)

** Exercise **
1. Write a Python program to get the largest number from a list.
2. Write a Python program to remove duplicates from a list if the list is not empty.
3. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 25 (both included).
4. a. Create a new dictionary called prices and put these values in your prices dictionary:   
   
"banana": 2.17,   
	"apple": 1.08,   
	"orange": 0.54,   
	"pear": 1   
   
b. Loop through each key in prices. For each key, print out the key along with its price   
c. Let's determine how much money you would make if you sold all of your food.

## 7. Functions

- Functions are blocks of code identified by a name, which can receive predetermined parameters.
- Can return objects or not.
- Accepted Doc Strings.
- Accepts optional parameters (with defaults ). If no parameter is passed, it will be equal to the default defined in the function.
- Accepts parameters to be passed by name. In this case, the order in which the parameters were passed does not matter.

** Important ** Always document your function with Doc Strings as follows

In [0]:
import math
def pythagoras(a,b=4):
    """
    Calculates the length of the hypotenuse from the given legths of other two sides.
   
    Example: 
        pythagoras(3,4) -> sqrt(3^2,4^2) = 5 
    
    Arguments:
        a (float): one of the sides
        b (float): the other side
        
    Returns:
        c (float): the lenth of the hypotenuse
    """
    c = math.sqrt(a**2 + b**2)
    return c

In [97]:
print(pythagoras(6))

7.211102550927978

In [98]:
print(pythagoras(3,4))

5.0

In [0]:
def find(customer_id, customers_list,other_parameters="asads"):
    if customer_id and customers_list:
        return customer_id in customers_list

In [100]:
find(customer_id = 10, customers_list = range(1,20,1))

True

**TODO** Learn about \*\*args and \*\*\*kargs

#### Anonymous Functions

In [0]:
f = lambda x: x*4 # even functions are objects in Python!

In [102]:
f(8)

32

** Exercises  **
1. Write a Python function to find the Max of three numbers
2. 	Write a function that returns the multiplication of given parameters.  Ex: multiply(2,3) returns 6 multiply(4,5,6) returns 120
Hint: learn how to use *args 
3. 	Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.
4.	Write a Python function that takes a list and returns a new list with unique elements of the first list.

# Advanced Python

##  Exception Handling

- Exception handling is essential for quality coding. Dont mind spending little time on writing exception handling.
- Make the cause of the exception clear for the user

In [0]:
import pandas as pd
import numpy.random as nprnd
import timeit
import os

In [108]:
df2 = pd.read_csv("ANAF2.txt",delimiter='\t')

FileNotFoundError: ignored

In [110]:
try:
    df2 = pd.read_csv("ANAF2.txt",delimiter='\t')
except IOError as err:
    print("couldnt read the file: " + str(err))

couldnt read the file: [Errno 2] File b'ANAF2.txt' does not exist: b'ANAF2.txt'

### Exercise: fix the code below to catch properly the exceptions

In [120]:
actor = {"name": "John Cleese", "rank": "awesome"} #setup

#actor = {}
def get_last_name(name_dict=''):
    try:
      print("The actor's last name is %s" %name_dict['name'].split()[1])
    except Exception as exp:
      print("All exceptions caught! Good job!")
#Test code
get_last_name(actor)

The actor's last name is Cleese

## 9. Functional Programming Basics

"In a functional program, input flows through a set of functions. Each function operates on its input and produces some output. Functional style discourages functions with side effects that modify internal state or make other changes that aren’t visible in the function’s return value. Functions that have no side effects at all are called purely functional. Avoiding side effects means not using data structures that get updated as a program runs; every function’s output must only depend on its input."

### List Comprehensions

List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

In [0]:
numbers = range(1,10)

In [122]:
numbers

range(1, 10)

In [124]:
[x**2 for x in numbers if x%2 == 1]

[1, 9, 25, 49, 81]

Every list comprehension can be rewritten as a for loop but not every for loop can be rewritten as a list comprehension.

In [125]:
squared_odds = []
for n in numbers:
    if n % 2 == 1:
        squared_odds.append(n ** 2)

squared_odds

[1, 9, 25, 49, 81]

** <font color="#ff6600"> new_list = ["something with " + ITEM for ITEM in old_list if a_condition(ITEM)] </font> **

In [126]:
#the condition is not an obligation!
[x for x in numbers]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Lambda, Map, Reduce, Filter

Let's create anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called "lambda".

In [0]:
doubler = lambda x: x * 2

In [128]:
type(doubler)

function

Lambda definition does not include a "return" statement -- it always contains an expression which is returned.

In [129]:
doubler(8)

16

In [0]:
multiplier = lambda x,y: x*y

In [131]:
multiplier(3,2)

6

** MAP **

Apply the given function to every element in the given list

In [0]:
def power_x(x):
    return x**2

In [141]:

list(map(power_x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

We can also use lambda functions!

In [142]:
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

** Filter **

Filter calls the lambda function for each element of the list, and returns a new list that contains only those elements for which the function returned "True".

In [136]:
filter(lambda x: x%3==0,numbers)

** Reduce **

In [0]:
from functools import reduce

 The function is called with the first two elements from the list, then with the result of that call and the third element, and so on, until all of the list elements have been handled. This means that our function is called n-1 times if the list contains n elements. The return value of the last call is the result of the reduce() construct.

In [138]:
reduce(lambda x,y: x + y , numbers)

45

In [139]:
def sum(x,y):
    return x+y

reduce(sum,numbers)

45

In [0]:

reduce(lambda x,y: x + y,[1,2,4]) 

#first does 1 + 2 = 3
#then 3 + 4 = 7

## 10. Modules and Virtual Environments

The modules are loaded with the import statement. Thus, when using a module structure, it is necessary to identify the module. This is called absolute import.

In [0]:
import os #import the os module
os.listdir('.') #when using a module structure, it is necessary to identify the module. This is called absolute import.

In [0]:
from numpy import random #You can also import modules with relative form:
#import numpy
random.randn(10,10)

In [0]:
import numpy as np #you can use the modules with the custom name you give
np.random.randint(100)

#### Python Virtual Environments

Virtual Environment is a tool to keep dependencies on different modules and versions separate for each project. So that projects have their own isolated environments and istalling different libraries for one project does not affect the others.

We will use Anaconda Python Distribution which includes basic libraries for data science

In [0]:
%%bash
conda -V

In [0]:
#installing libraries with conda
conda install <name of the library>

#### create a virtual environment with conda

conda create -n yourenvname python=x.x anaconda  
( x.x is python version number such as = 2.7)

But, our platform has scripts to simply create a python environment with pre-installed libraries -->

For creating a default Python2 virtual environment, called condap2   
** makepy2.sh  **

For creating a default Python3 virtual environment, called condap3  
** makepy3.sh **

#### activate virtual environment

In [0]:
%%bash
source activate condap2

#### de-activate virtual environment

In [0]:
%%bash
source deactivate

#### install a library on your virtual environment

1. Activate your virtual environment
2. conda install "name of the library"  (or use pip: pip install "name of the library")

**list virtual environments**

In [0]:
%%bash
conda env list

** Exercises  **

    1. Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
 
 ____________________________________________________________________

    2. Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).
____________________________________________________________________

    3. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

____________________________________________________________________

    4.With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

    Suppose the following input is supplied to the program: 8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
____________________________________________________________________
    
    5. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
    
    Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world